<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="sidebar">
        <h2>Otros documentos</h2>
        <a href="#">Documento 1</a>
        <a href="#">Documento 2</a>
        <a href="#">Documento 3</a>
        <a href="#">Documento 4</a>
      </div>
      <div class="main">
        <div class="content">
          <span></span>
        </div>
      </div>
    </div>
  </body>
</html>
